:root{
--_color:hsl(228, 45%, 44%);
--color_Neutral_900:hsl(243, 96%, 9%);
--color_Neutral_800:hsl(243, 27%, 20%);
--color_Neutral_700: hsl(243, 23%, 24%);
--color_Neutral_600: hsl(243, 23%, 30%);
--color_Neutral_300: hsl(240, 6%, 70%);
--color_Neutral_200: hsl(250, 6%, 84%);
--color_Neutral_0: hsl(0, 0%, 100%);
--color_Orange_500: hsl(28, 100%, 52%);
--color_Blue_500: hsl(233, 67%, 56%);
--color_Blue_700: hsl(248, 70%, 36%);
--font_size_rem:0.6875rem;
--font_size_px:18px;
--font_family_title:'Bricolage Grotesque', sans-serif;
}
body{
    background-color:var(--color_Neutral_900) !important;
    font-family: 'DM Sans', sans-serif;
    color: white !important;

}

@media(max-width:992px){
.navbar .container-md {
    
    padding: 10px;
    justify-content:space-around !important;
}
.navbar .container-md .logo{
    flex-basis: 40% !important;
   
}
.navbar .container-md .dropdown{
   
    flex-basis: 20%  !important;
    
}
}
.navbar .container-md  .dropdown button {
   background-color: var(--color_Neutral_600);
  width: 100%;

}
.navbar .container-md .logo img{
    width: 100% !important;
}
.hero_section .container-md{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero_section .container-md  .text{
   
    text-align: center;
}
@media(max-width:992px){
    .hero_section .container-md  .text h1{
        font-size: var(--font_size_rem) !important;
    }
}
.hero_section .container-md  .text h1{
  
    padding: 10px 5px !important;
    font-family: var(--font_family_title);
    font-size:40px
}
.hero_section .container-md  .tool{
  
    padding:10px 5px;
    width: 45%;
}
@media(max-width:992px){
   .hero_section .container-md  .tool .input-group{
    flex-direction: column !important;
    align-items: center !important;
   } 
   .hero_section .container-md  .tool .input-group input{
    width:100% !important;
   }
    .hero_section .container-md  .tool .input-group  .btn{
        margin-top: 10% !important;
        width: 100%;
      

    }
}

.hero_section .container-md  .tool .input-group .form-control{
     background-color: var(--color_Neutral_600);
     border: none;
     color: white !important;
} 

.hero_section .container-md  .tool .input-group .form-control::placeholder{
    color: white !important;
    
    text-align: center;
  
} 
@media(max-width:992px){
    .hero_section .container-md  .tool .input-group .form-control::placeholder{
        font-size: 8px;
    }
}
.hero_section .container-md  .tool .input-group .btn{
   border-radius: 6px !important;
    margin-left: 2% !important;
}

